<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    
</head>

<body class="conteiner">
    <div>

        <div class="titIm">
            <img class="tit" src="/images/pokemon.png" alt="pokemon">
        </div>

        <main>
        <article class="tarjeta">
            <div>
                <div class="foto">
                    <img class="foto1" src="" alt="">
                </div>

                <div>
                    <h1 class="nombre">
                    </h1>

                </div>
            </div>

            <div class="especial">
                <div class="ataque">
                    
                </div>

                <div class="ataqueEsp">
                    
                </div>

                <div class="defensa">
                    
                </div>

            </div>

        </article>

        <div class="contenedor-boton">
        <button class="bot">Otro Pokémon</button>
        <input class="form-control col-8 col-md-4 col-lg-6" type="text" name="search" placeholder="Buscador" aria-label="Search" id="search">
        </div>

        </main>

    </div>

    <script src="/javascripts/script.js"></script>
</body>

</html>